app = 'shortify-server'
primary_region = 'ams'

[build]
dockerfile = 'Dockerfile'

[env]
NODE_ENV = 'production'
PORT = '8080'

[[services]]
protocol = 'tcp'
internal_port = 8080
auto_stop_machines = true
auto_start_machines = true
min_machines_running = 0

[[services.ports]]
port = 80
handlers = ['http']

[[services.ports]]
port = 443
handlers = ['tls', 'http']

[[services.tcp_checks]]
interval = '15s'
timeout = '2s'

[[vm]]
cpu_kind = "performance"
cpus = 1
memory_mb = 2048